.nav {
  grid-area: appNav;
  background-color: burlywood;
  padding: 20px;
}

.item a{
  color: #bd9292;
}
.item a{
  text-decoration: none;
}

.item a.active{
  color: rgba(190, 0, 0, 0.48);
}

.item a:hover{
  color: rgb(255, 255, 255);
}
